body {
	background-color: #3fd575;
	margin-top: 20px;
}

h1, h2, h3, h4, h5 {
	text-align: center;
}

#dev-toolbar {
	text-align: center;
	margin-top: 25px;
}

.hidden {
	display: none;
}

.small-panel {
	width: 200px;
    margin-left: auto;
	margin-right: auto;
}
.medium-panel {
	width: 400px;
    margin-left: auto;
	margin-right: auto;
}
.large-panel {
	width: 700px;
    margin-left: auto;
	margin-right: auto;
}
.xlarge-panel {
	width: 820px;
    margin-left: auto;
	margin-right: auto;
}
.paper {
	color: white;
}